body {
    background-image: url("./Pattern.png");
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("../src/fonts/TrebuchetMS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet MS Bold";
  src: url("../src/fonts/TrebuchetMS-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo";
  src: url("../src/fonts/Exo2.0-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
